*{
font-family:Helvetica;

}

.center-user{
	width: 900px;
	height: auto;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	
	border: 2px solid #D1D1D1;
	border-radius: 15px;
	
	background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 47%, rgba(224,224,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(237,237,237,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 47%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 47%,rgba(224,224,224,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 47%,rgba(224,224,224,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 47%,rgba(224,224,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
overflow-y:auto;
}
.username{
	font-size:30px;
	position:absolute;
	top:40px;
	padding:15px;
}
.info{
	font-size:15px;
	color:#919191;
	position:absolute;
	top:60px;
	padding-left:240px;
	padding-top:40px;
	width:600px;
	height:100px;
	overflow-y:auto;
}

.avatar{
	border-radius:5px;
}
#tittle-user{
	font-family:Helvetica;
	font-size:26px;
	color:#949293;
	
	position:absolute;
	top:-17px;
	left:45px;
}

